.about-sec{
    width: 100%;
    padding-top: 4rem;
    position: relative;
    z-index: -1;
}
.about-inner{
    width: 90%;
    margin: 0 auto;
}
.about-landing{
    display: flex;
    flex-direction: row;
}
.about-img-con{
    width: 30%;
    height: 20rem;
    border-radius: 5px;
    overflow: hidden;
}
.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-landing-right{
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-landing-right h2 {
    color: rgb(206, 145, 154);
}
.about-background-con{
    position: fixed;
    width: 70%;
    height: 10rem;
    bottom: 5%;
    left: 13%;
    z-index: -1;
}
.about-background{
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
    .about-landing{
        display: flex;
        flex-direction: column;
    }
    .about-img-con{
        width: 100%;
        height: 21rem;
    }
    .about-landing-right{
        width: 100%;
        padding: 0;
    }
}